{% extends 'contacts/contacts_base.html' %}
{% load i18n %}
{% block title %}{% trans 'Detail Contact' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-2">
            {% include 'contacts/utils/_contacts_navbar.html' with active='contact'  %}
        </div>
        <div class="col-10 my-3">

            <div class="card shadow-sm p-2 no-border-radius">
                <div class="card-body">
                    <h5 class="text-center text-blue">{% trans 'Detail Contact' %}</h5>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                            <h3 class="font-size-30 font-weight-normal text-orange">
                                {{ contact.first_name }} {{ contact.last_name }}
                            </h3>
                            <p><i class="fa fa-envelope mr-2 text-orange"></i> {{ contact.email }}</p>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                            <p><i class="fas fa-venus-mars mr-2 text-orange"></i> {{ contact.get_gender_display }}</p>
                            <p><i class="fas fa-phone mr-2 text-orange"></i> {% if contact.phone %}{{ contact.phone }}{% else %}--{% endif %}</p>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                            <p><i class="far fa-id-card mr-2 mr-2 text-orange"></i> {{ contact.get_type_document_display }}</p>
                            <p><i class="fab fa-creative-commons mr-2 text-orange"></i> {% if contact.document_number %}{{ contact.document_number }}{% else %}--{% endif %}</p>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                            <p><i class="fas fa-birthday-cake mr-2 mr-2 text-orange"></i> {{ contact.birth_date }}</p>
                            <p><i class="far fa-clock mr-2 text-orange"></i> {{ contact.created_on }}</p>
                        </div>
                    </div>
                </div>
            </div>

            {% if messages %}
				{% for message in messages %}
				<div class="text-center alert alert-success" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				{% endfor %}
			{% endif %}

            <div class="row">
                <div class="col-5">
                    <form method="post" action="{% url 'contacts:comment_create' contact.pk %}" class="py-2" id="registerform" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <h3 class="text-center mb-0">{% trans "Add Comment" %}</h3>
                        </div>

                        <div class="form-group my-2">
                            <div class="col-12">
                                {{ comment_form.content }}
                                <div class="text-danger">
                                    {{ comment_form.content.errors }}
                                </div>
                            </div>
                        </div>

                        <div class="col-12 my-2 text-left">
                            <a class="btn btn-lg btn-cancel-white text-uppercase mr-2"
                               href="{% url 'contacts:contact_list' %}"
                               name="{% trans 'back'|title %}">{% trans 'back'|title %}
                                <i class="fa fa-chevron-left float-left mr-2 mt-1"></i>
                            </a>
                            <button class="btn btn-save-blue" type="submit">
                                <i class="far fa-comments mr-2"></i> {% trans "submit"|upper %}
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-7">
                    <div class="form-group">
                        <h3 class="text-center mb-0 py-2">
                            <i class="far fa-comments mr-2"></i>
                            {% trans "Comments" %}
                        </h3>
                    </div>
                    {% if comments %}
                    <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
                    {% for obj in comments %}
                    <div class="media text-muted pt-3">
                        <img src="{% if not obj.author.get_avatar %}
                        https://www.library.caltech.edu/sites/default/files/styles/headshot/public/default_images/user.png
                        {% else %}{{ obj.author.get_avatar }}{% endif %}" alt="" width="70" height="70" class="rounded-circle border">
                        <p class="media-body ml-3 pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">@{{ obj.author.username }}</strong>
                            {{ obj.content }}
                            <small class="white-important d-flex full-width flex-row-reverse">
                                {{ obj.created_on }}
                                <i class="fa fa-clock-o mr-2 fa-2x"></i>
                            </small>
                        </p>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}