{% extends 'contacts/contacts_base.html' %}
{% load i18n %}
{% block title %}
    {% if object %}{% trans 'update contact'|title %}{% else %}{% trans 'create contact'|title %}{% endif %}
{% endblock %}

{% block styles %}
    {{ form.media.css }}
    {{ form.media.js }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3">
            {% include 'contacts/utils/_contacts_navbar.html' with active='users'  %}
        </div>
        <div class="col-9 my-4 card">
            <div class="col-12 mt-4">
                <h5 class="text-center text-gray-666 font-weight-bold font-size-18 text-uppercase mb-4">
                    {% if object %}{% trans 'update contact'|title %}{% else %}{% trans 'create contact'|title %}{% endif %}
                </h5>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row mx-4 px-4 my-3">
                    <div class="col">
                        {{ form.first_name }}
                        <div class="text-danger">
                            {{ form.first_name.errors }}
                        </div>
                    </div>
                    <div class="col">
                        {{ form.last_name }}
                        <div class="text-danger">
                            {{ form.last_name.errors }}
                        </div>
                    </div>
                </div>

                <div class="form-group my-3 px-5">
                    <div class="col-12">
                        {{ form.email }}
                        <div class="text-danger">
                            {{ form.email.errors }}
                        </div>
                    </div>
                </div>

                <div class="form-group my-3 px-5">
                    <div class="col-12">
                        {{ form.phone }}
                        <div class="text-danger">
                            {{ form.phone.errors }}
                        </div>
                    </div>
                </div>

                <div class="form-group row my-4 mx-4 px-4">
                    <label class="col-sm-4 col-form-label text-gray-666">{{ form.subject.label }}</label>
                    <div class="col-sm-8">
                        {{ form.subject }}
                        <div class="text-danger">
                            {{ form.subject.errors }}
                        </div>
                    </div>
                </div>

                <div class="form-group row my-4 mx-4 px-4">
                    <label class="col-sm-4 col-form-label text-gray-666">{{ form.gender.label }}</label>
                    <div class="col-sm-8">
                        {{ form.gender }}
                        <div class="text-danger">
                            {{ form.gender.errors }}
                        </div>
                    </div>
                </div>

                <div class="form-group row my-4 mx-4 px-4">
                    <label class="col-sm-4 col-form-label text-gray-666">{{ form.type_document.label }}</label>
                    <div class="col-sm-8">
                        {{ form.type_document }}
                        <div class="text-danger">
                            {{ form.type_document.errors }}
                        </div>
                    </div>
                </div>

                <div class="form-group row my-4 mx-4 px-4">
                    <label class="col-sm-4 col-form-label text-gray-666">{{ form.document_number.label }}</label>
                    <div class="col-sm-8">
                        {{ form.document_number }}
                        <div class="text-danger">
                            {{ form.document_number.errors }}
                        </div>
                    </div>
                </div>

                <div class="form-group row my-4 mx-4 px-4">
                    <label class="col-sm-4 col-form-label text-gray-666">{{ form.birth_date.label }}</label>
                    <div class="col-sm-8">
                        {{ form.birth_date }}
                        <div class="text-danger">
                            {{ form.birth_date.errors }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 my-4 text-right">
                        <a class="btn btn-sm btn-light mr-3" href="{% url 'contacts:contact_list' %}" name="{% trans 'cancel'|title %}">{% trans 'cancel'|title %}
                            <i class="fa fa-chevron-left float-left mr-2 mt-1"></i>
                        </a>
                        <button class="btn btn-lg btn-blue2 text-uppercase" type="submit" name="{% if object %}{% trans 'update'|title %}{% else %}{% trans 'save'|title %}{% endif %}">
                            {% if contact %}{% trans 'update'|title %}{% else %}{% trans 'save'|title %}{% endif %}
                            <i class="fa fa-save float-left mr-2 mt-1"></i>
                        </button>
                    </div>
			    </div>
            </form>
        </div>
    </div>
{% endblock %}