{% extends 'contacts/contacts_base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}{% trans 'Home' %}{% endblock %}

{% block styles %}
    {{ form.media.css }}
    {{ form.media.js }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-2">
            {% include 'contacts/utils/_contacts_navbar.html' with active='users'  %}
        </div>
        <div class="col-10 my-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores aut consectetur cumque delectus expedita ipsa ipsam magnam maxime modi, necessitatibus nobis odit omnis possimus tempora totam ut voluptatibus voluptatum.
        </div>
    </div>
{% endblock %}

{% block content-form %}
    <form method="post" class="py-3" id="contactform" enctype="multipart/form-data">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
            <div class="text-center alert alert-success" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}

        <div class="form-group">
            <h1 class="text-center mb-0">{% trans "Contact Form" %}</h1>
        </div>

        <div class="row mx-4 px-4 my-3">
            <div class="col">
                {{ form.first_name|attr:'required:true' }}
                <div class="text-danger">
                    {{ form.first_name.errors }}
                </div>
            </div>
            <div class="col">
                {{ form.last_name|attr:'required:true' }}
                <div class="text-danger">
                    {{ form.last_name.errors }}
                </div>
            </div>
        </div>

        <div class="form-group my-3 px-5">
            <div class="col-12">
                {{ form.email|attr:'required:true' }}
                <div class="text-danger">
                    {{ form.email.errors }}
                </div>
            </div>
        </div>

        <div class="form-group my-3 px-5">
            <div class="col-12">
                {{ form.phone|attr:'required:true' }}
                <div class="text-danger">
                    {{ form.phone.errors }}
                </div>
            </div>
        </div>

        <div class="form-group row my-4 mx-4 px-4">
            <label class="col-sm-4 col-form-label text-gray-666">{{ form.subject.label }}</label>
            <div class="col-sm-8">
                {{ form.subject }}
                <div class="text-danger">
                    {{ form.subject.errors }}
                </div>
            </div>
        </div>

        <div class="form-group row my-4 mx-4 px-4">
            <label class="col-sm-4 col-form-label text-gray-666">{{ form.gender.label }}</label>
            <div class="col-sm-8">
                {{ form.gender }}
                <div class="text-danger">
                    {{ form.gender.errors }}
                </div>
            </div>
        </div>

        <div class="form-group row my-4 mx-4 px-4">
            <label class="col-sm-4 col-form-label text-gray-666">{{ form.type_document.label }}</label>
            <div class="col-sm-8">
                {{ form.type_document }}
                <div class="text-danger">
                    {{ form.type_document.errors }}
                </div>
            </div>
        </div>

        <div class="form-group row my-4 mx-4 px-4">
            <label class="col-sm-4 col-form-label text-gray-666">{{ form.document_number.label }}</label>
            <div class="col-sm-8">
                {{ form.document_number|attr:'required:true' }}
                <div class="text-danger">
                    {{ form.document_number.errors }}
                </div>
            </div>
        </div>

        <div class="form-group row my-4 mx-4 px-4">
            <label class="col-sm-4 col-form-label text-gray-666">{{ form.birth_date.label }}</label>
            <div class="col-sm-8">
                {{ form.birth_date }}
                <div class="text-danger">
                    {{ form.birth_date.errors }}
                </div>
            </div>
        </div>

        <div class="form-group mt-4 text-center">
            <div class="col-12">
                <button class="btn btn-primary btn-lg" type="submit">
                    <i class="fas fa-sign-in-alt mr-2"></i> {% trans "Submit" %}
                </button>
            </div>
        </div>

    </form>
{% endblock %}
