{% extends 'contacts/contacts_base.html' %}
{% load i18n %}
{% block title %}{% trans 'Subject List' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-2">
            {% include 'contacts/utils/_contacts_navbar.html' with active='subject'  %}
        </div>
        <div class="col-10 my-4">

            <div class="row">
                <div class=" col-12 col-sm-6 col-md-6 col-lg-5 search-bar">
                    <form method="get">
                        <div class="input-group">
                            <input type="text" class="form-control search-round" name="keyword" id="id_keyword" placeholder="{% trans 'search'|title %}" aria-label="{% trans 'search'|title %}" aria-describedby="button-search">
                            <div class="input-group-append">
                                <button class="btn btn-gray-EE" type="submit" id="button-search" data-toggle="tooltip" data-placement="bottom" title="{% trans 'search'|title %}">
                                    <i class="fa fa-search"></i>
                                </button>
                                <a href="{% url 'contacts:subject_list' %}" class="btn btn-gray-EE search-refresh" data-toggle="tooltip" data-placement="bottom" title="{% trans 'clean search'|title %}">
                                    <i class="fas fa-redo-alt"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-12 col-lg-7 text-right">
                    <a href="{% url 'contacts:subject_create' %}" class="btn btn-blue2 text-uppercase" role="button" aria-pressed="true">
                        {% trans "add subject"|title %}
                        <i class="fa fa-plus float-left mr-2 mt-1"></i>
                    </a>
                </div>
            </div>

            <div class="row bg-white mx-3 mt-5" id="inner_packs" role="tabpanel" aria-labelledby="pills-innerpacks-tab">
                <div class="col-lg-12 px-0">
                    <table class="table table-hover">
                        <thead>
                        <tr class="font-weight-500 table-noborder-l-r text-gray-666">
                            <th scope="col" class="align-middle">{% trans 'id'|title %}</th>
                            <th scope="col" class="align-middle">{% trans 'name'|title %}</th>
                            <th scope="col" class="align-middle text-center">{% trans 'actions'|title %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for subject in object_list %}
                            {% include 'contacts/utils/_row_subject.html' %}
                        {% empty %}
                            <tr>
                                <td class="text-center" colspan="5">{% trans 'you have no subjects yet' %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'utils/_paginator.html' %}
                    {% include 'accounts/utils/_modal.html' %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
	<script>
		function Delete(url) {
			$('#deleteUser').find('.modal-body').load(url, function () {
				$('#deleteUser').modal({show: true});
			});
		}
	</script>
{% endblock %}