{% load static %}
{% load i18n %}
<tr id="user_{{ user.id }}">
	<td scope="row" class="align-middle prod-id text-gray-666">
		<a href="{% url 'accounts:user_update' user.id %}" class="" title="{% trans 'update'|title %}">
			{{ user.id }}
		</a>
	</td>
	<td>
		<a href="{% url 'accounts:user_update' user.id %}" class="" title="{% trans 'update'|title %}">
			{% if user.avatar %}
				<img src="{{ user.avatar.url }}" class="img-fluid prod-image rounded ml-3" alt="{% trans 'Avatar' %}" style="height: 5rem; width: auto;">
			{% else %}
				<img src="https://via.placeholder.com/80/09f/fff.png" class="img-fluid prod-image rounded ml-3" alt="{% trans 'Avatar' %}" style="height: 5rem; width: auto;">
			{% endif %}
		</a>
	</td>
	<td class="align-middle prod-name text-gray-666">
		<a href="{% url 'accounts:user_update' user.id %}" class="" title="{% trans 'update'|title %}">
			{{ user.username }}
		</a>
	</td>
	<td class="align-middle prod-quantity">
		{{ user.email }}
	</td>
    <td class="align-middle prod-quantity">
		{{ user.get_full_name }}
	</td>
    <td class="align-middle prod-quantity">
		{{ user.get_gender_display }}
	</td>
    <td class="align-middle prod-quantity">
		{{ user.phone }}
	</td>

	<td class="align-middle text-center td-buttons">
		<a onclick="Delete('{% url 'accounts:user_delete' user.id %}');" class="btn-trash-blue-small2 ml-2"
		   title="{% trans 'delete'|title %}" href="javascript:void(0);">
			<i class="fa fa-trash"></i>
	</td>
</tr>