/* main: ../main.scss */

@font-face {
  font-family: 'icomoon';
  src:  url('../scss/fonts/iconmoon/icomoon.eot?tw9k5t');
  src:  url('../scss/fonts/iconmoon/icomoon.eot?tw9k5t#iefix') format('embedded-opentype'),
  url('../scss/fonts/iconmoon/icomoon.ttf?tw9k5t') format('truetype'),
  url('../scss/fonts/iconmoon/icomoon.woff?tw9k5t') format('woff'),
  url('../scss/fonts/iconmoon/icomoon.svg?tw9k5t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-container:before {
  content: "\e900";


}