{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notification</title>
</head>
<body>
    {% trans 'Hello' %}
    <br>
    {% trans 'You have receive a new email from'%}: {{ object.first_name }} {{ object.last_name }} {% trans 'with email' %}: {{ object.email }}
    <br>
    {% trans 'Subject' %}: {{ object.subject.name }}<br>
    {% trans 'Comment' %}: {{ comment }}<br>
    {% trans 'Phone' %}: {{ object.phone }}<br>
    {% trans 'Gender' %}: {{ object.gender }}<br>1
    <a href="https://{{ domain }}{% url 'accounts:login' %}">{% trans 'Go to the platform' %}</a>
</body>
</html>