{% extends 'accounts/accounts_base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
	{% if request.user.id == object.id %}
		{% trans 'My Profile' %} {{ object.get_full_name }}
	{% else %}
		{% trans 'profile of' %} {{ object.get_full_name }}
	{% endif %}
{% endblock %}

{% block styles %}
    {{ form.media.css }}
    {{ form.media.js }}
{% endblock %}

{% block content %}

	<div class="mt-4 px-5">
		{% if messages %}
			{% for message in messages %}
				<div class="text-center alert alert-success" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}
		{% endif %}
	</div>

    <div class=" mb-5">
		<form method="post" enctype="multipart/form-data" class="update-form">
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}

			<div class="row mb-5">
				<div class="col-12">
					<div class="card shadow-sm p-5 no-border-radius">
						<div class="card-body">
                            <div class="row">
								<div class="col-12 col-sm-12 col-md-3 col-lg-3">
									<div class="avatar-wrapper my-auto img-avata-bg-big">
										<img class="profile-pic" src="{% if request.user.get_avatar %}
                                        {{ request.user.get_avatar }}{% else %}{% static '/images/user.jpg' %}{% endif %}"/>
										<div class="upload-button">
											<i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
										</div>
										<input class="file-upload" type="file" accept="image/*" name="avatar" id="id_avatar"/>
									</div>
								</div>
								<div class="col-12 col-sm-12 col-md-9 col-lg-9">
									<h3 class="font-size-30 font-weight-normal text-orange">
										{{ form.instance.first_name }} {{ form.instance.last_name }}
									</h3>
                                    <p><i class="fa fa-envelope mr-2 text-orange"></i> {{ form.instance.email }}</p>
                                    <p><i class="fas fa-user mr-2 text-orange"></i> {{ request.user.username }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row equal">
				<div class="col-sm-12 col-md-6 col-lg-6 col-6">
					<div class="card shadow-sm p-5 no-border-radius flex-fill">
						<div class="card-body">
							<div class="row ">

                                <div class="form-group row col-12 mb-4">
                                    <label class="col-sm-4 col-form-label text-gray-666">{{ form.first_name.label }}</label>
                                    <div class="col-sm-8">
                                        {{ form.first_name }}
                                        <div class="text-danger">
                                            {{ form.first_name.errors }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row col-12 mb-4">
                                    <label class="col-sm-4 col-form-label text-gray-666">{{ form.last_name.label }}</label>
                                    <div class="col-sm-8">
                                        {{ form.last_name }}
                                        <div class="text-danger">
                                            {{ form.last_name.errors }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row col-12 mb-4">
                                    <label class="col-sm-4 col-form-label text-gray-666">{{ form.gender.label }}</label>
                                    <div class="col-sm-8">
                                        {{ form.gender }}
                                        <div class="text-danger">
                                            {{ form.gender.errors }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row col-12 mb-4">
                                    <label class="col-sm-4 col-form-label text-gray-666">{{ form.address.label }}</label>
                                    <div class="col-sm-8">
                                        {{ form.address }}
                                        <div class="text-danger">
                                            {{ form.address.errors }}
                                        </div>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-md-6 col-lg-6 col-6">
					<div class="card shadow-sm p-5 no-border-radius flex-fill">
						<div class="card-body">
							<div class="row">
								<div class="form-group row col-12 mb-4">
                                    <label class="col-sm-4 col-form-label text-gray-666">{{ form.type_document.label }}</label>
                                    <div class="col-sm-8">
                                        {{ form.type_document }}
                                        <div class="text-danger">
                                            {{ form.type_document.errors }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row col-12 mb-4">
                                    <label class="col-sm-4 col-form-label text-gray-666">{{ form.document_number.label }}</label>
                                    <div class="col-sm-8">
                                        {{ form.document_number }}
                                        <div class="text-danger">
                                            {{ form.document_number.errors }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row col-12 mb-4">
                                    <label class="col-sm-4 col-form-label text-gray-666">{{ form.phone.label }}</label>
                                    <div class="col-sm-8">
                                        {{ form.phone }}
                                        <div class="text-danger">
                                            {{ form.phone.errors }}
                                        </div>
                                    </div>
                                </div>

                                {% if request.user.is_superuser %}
                                <div class="form-group row col-12 mb-4">
                                    <label class="col-sm-4 col-form-label text-gray-666">{{ form.to_email.label }}</label>
                                    <div class="col-sm-8">
                                        {{ form.to_email }}
                                        <div class="text-danger">
                                            {{ form.to_email.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col text-right">
					<button class="btn btn-save-blue text-uppercase mr-2 mt-2" type="submit">
                    {% trans 'save'|title %}
                    <i class="fa fa-save float-left mr-2 mt-1"></i>
                </button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$(function () {
			var readURL = function (input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					reader.onload = function (e) {
						$('.profile-pic').attr('src', e.target.result);
					};
					reader.readAsDataURL(input.files[0]);
				}
			};

			$(".file-upload").on('change', function () {
				readURL(this);
			});

			$(".upload-button").on('click', function () {
				$(".file-upload").click();
			});
		});
	</script>
{% endblock %}