{% extends 'contacts/contacts_base.html' %}
{% load i18n %}
{% block title %}{% trans 'Create User' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3">
            {% include 'contacts/utils/_contacts_navbar.html' with active='users'  %}
        </div>
        <div class="col-9 my-4">
            <div class="col-12">
                <h5 class="text-center text-gray-666 font-weight-bold font-size-18 text-uppercase mb-4">{% trans 'Create User' %}</h5>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'utils/_form.html' %}
                <div class="row">
				<div class="col-12 my-4 text-right">
                    <a class="btn btn-sm btn-light mr-3" href="{% url 'accounts:user_list' %}" name="{% trans 'cancel'|title %}">{% trans 'cancel'|title %}
                        <i class="fa fa-chevron-left float-left mr-2 mt-1"></i>
                    </a>
                	<button class="btn btn-lg btn-blue2 text-uppercase" type="submit" name="{% if object %}{% trans 'update'|title %}{% else %}{% trans 'save'|title %}{% endif %}">
						{% if user %}{% trans 'update'|title %}{% else %}{% trans 'save'|title %}{% endif %}
						<i class="fa fa-save float-left mr-2 mt-1"></i>
					</button>
				</div>
			</div>
            </form>
        </div>
    </div>
{% endblock %}