{% extends 'accounts/accounts_base.html' %}
{% load static %}
{% load i18n %}

{% load account socialaccount %}
{% get_providers as socialaccount_providers %}

{% block title %}
	{% trans 'Login' %}
{% endblock %}

{% block login-register %}
	{% if not request.user.is_authenticated %}
	<form method="post" class="py-3" id="loginform" action="{% url 'accounts:login' %}" enctype="multipart/form-data">
		{% csrf_token %}
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}">
		{% endif %}
		{% if messages %}
			{% for message in messages %}
			<div class="text-center alert alert-success" role="alert">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% endfor %}
		{% endif %}

		<div class="form-group">
			<h1 class="text-center mb-0">{% trans "Login" %}</h1>
		</div>

		{% if form.non_field_errors %}
			<div class="form-group">
				<div class="alert alert-danger alert-dismissible fade show text-center" role="alert" >
					{% for error in form.non_field_errors %}
						{{error}}
					{% endfor %}
					<button type="button" class="close red-text" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
			</div>
		{% endif %}

		<div class="form-group px-5">
			<div class="col-12">
				{{ form.username }}
				{{ form.username.errors }}
				<div class="text-danger right-align error">
					{{ form.username.errors }}
				</div>
			</div>
		</div>

		<div class="form-group px-5">
			<div class="col-12">
				{{ form.password }}
				<div class="text-danger right-align">
					{{ form.password.errors }}
				</div>
			</div>
		</div>

		<div class="form-group text-center mt-4">
			<div class="col-12">
				<button class="btn btn-orange btn-lg" name="{% trans 'login' %}" type="submit">
					<i class="fas fa-sign-in-alt mr-2"></i> {% trans "Login" %}
				</button>
			</div>
		</div>

		<div class="form-group">
			<div class="form-row">
				<div class="col-12 text-center">
					<a class="btn btn-link" href="{% url 'accounts:password_reset' %}">
						<i class="fas fa-key mr-2"></i> {% trans 'Forgot your Password?' %}
					</a>
				</div>
				<div class="col-12 text-center">
					<a class="btn btn-link" href="{% url 'accounts:signup' %}">
						<i class="fas fa-user-plus mr-2"></i> {% trans "Create new account" %}
					</a>
				</div>
			</div>
		</div>

		<div class="form-group my-2">
			<h4 class="text-center"> {% trans "Or login with" %}</h4>
		</div>

		<div class="form-group">
			<div class="col-8 m-auto text-center">
				<a class="btn btn-outline-info btn-lg btn-block" href="{% provider_login_url 'linkedin_oauth2' %}" role="button">
					<i class="fab fa-linkedin mr-2"></i> LinkedIn
				</a>
			</div>
		</div>

		<div class="form-group">
			<div class="col-8 m-auto text-center">
				<a class="btn btn-outline-primary btn-lg btn-block" href="{% provider_login_url 'windowslive' %}" role="button">
					<i class="fab fa-microsoft mr-2"></i> <span class="mb-3">Microsoft Account</span>
				</a>
			</div>
		</div>

		<div class="form-group mb-5">
			<div class="col-8 m-auto text-center">
				<a class="btn btn-outline-danger btn-lg btn-block" href="{% provider_login_url 'google' %}" role="button">
					<i class="fab fa-google-plus-square mr-2"></i> Google Account
				</a>
			</div>
		</div>
	</form>
	{% else %}
	<script type="application/javascript">
		window.location = "/home/";
	</script>
	{% endif %}

{% endblock %}
	{% block scripts %}
	{% providers_media_js %}
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
	<script>
		$(function () {
			$( "#loginform").validate({
				rules: {
					username: {
						required: true
					},
					password: {
						required: true
					}
				},
				errorElement: 'div',
				errorPlacement: function (error, element) {
					var placement = $(element).data('text-danger');
					if (placement) {
						$(placement).append(error);
					} else {
						error.insertAfter(element);
					}
				}
			});
		});
	</script>
{% endblock %}