{% extends 'accounts/accounts_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
	{% trans 'Reset Password' %}
{% endblock %}
{% block content-form %}
	<div class="row">
		<div class="col-12">
			<form class="p-5" method="post">
				<div class="form-group">
					<h2 class="pb-4 text-center"><i class="fas fa-key mr-2"></i> {% trans 'Reset Password' %}</h2>
				</div>
				{% include 'utils/_form.html' %}
				<button class="btn btn-orange btn-lg mt-2" type="submit" name="{% trans 'reset password' %}">
					<i class="fas fa-redo mr-2"></i> {% trans 'Reset password' %}
				</button>
			</form>
		</div>
	</div>
{% endblock %}
