{% extends "accounts/accounts_base.html" %}
{% load i18n static %}


{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content-form %}

		<div class="row">
			<div class="col-lg-12">
				{% if validlink %}
				<h5 class="py-3 text-center text-gray-dark">{% trans "Recover Password" %}</h5>

				<form method="post">{% csrf_token %}
					{% include 'utils/_form.html' %}
					<button class="btn btn-orange btn-block" type="submit" name="{% trans 'Reset password' %}">
                        <i class="fas fa-redo mr-2"></i>
                        {% trans 'Reset password' %}
                    </button>
				</form>
				{% else %}
					<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
				{% endif %}
			</div>
		</div>

{% endblock %}
