{% extends 'accounts/accounts_base.html' %}
{% load static %}
{% load i18n %}

{% load account socialaccount %}

{% block title %}
	{% trans 'Signup' %}
{% endblock %}

{% block styles %}
	{{ form.media.css }}
{% endblock %}

{% block login-register %}
	{% if not user.is_authenticated %}
		<form method="post" class="py-3" id="registerform" enctype="multipart/form-data">
			{% csrf_token %}
			{% if messages %}
				{% for message in messages %}
				<div class="text-center alert alert-success" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				{% endfor %}
			{% endif %}

			<div class="form-group">
				<h1 class="text-center mb-0">{% trans "Sign Up" %}</h1>
			</div>

            <div class="form-group my-2 px-5">
				<div class="col-12">
					{{ form.username }}
					<div class="text-danger">
						{{ form.username.errors }}
					</div>
				</div>
			</div>

			<div class="row mx-4 px-4">
				<div class="col">
					{{ form.first_name }}
					<div class="text-danger">
						{{ form.first_name.errors }}
					</div>
				</div>
				<div class="col">
					{{ form.last_name }}
					<div class="text-danger">
						{{ form.last_name.errors }}
					</div>
				</div>
			</div>

			<div class="form-group my-2 px-5">
				<div class="col-12">
					{{ form.email }}
					<div class="text-danger">
						{{ form.email.errors }}
					</div>
				</div>
			</div>

			<div class="form-group my-2 px-5">
				<div class="col-12">
					{{ form.password1 }}
					<div class="text-danger">
						{{ form.password1.errors }}
					</div>
				</div>
			</div>

			<div class="form-group my-2 px-5">
				<div class="col-12">
					{{ form.password2 }}
					<div class="text-danger">
						{{ form.password2.errors }}
					</div>
				</div>
			</div>

			<div class="form-group mt-4 text-center">
				<div class="col-12">
					<button class="btn btn-orange btn-lg" type="submit">
						<i class="fas fa-sign-in-alt mr-2"></i> {% trans "Create" %}
					</button>
				</div>
			</div>

			<div class="form-group my-1">
				<div class="col-12 text-center">
					<a class="btn btn-link" href="{% url 'accounts:login' %}">{% trans "Already have an account?" %}</a>
				</div>
			</div>

			<div class="form-group my-1">
				<h4 class="text-center"> {% trans "Or sign up with" %}</h4>
			</div>

			<div class="form-group">
				<div class="col-8 m-auto text-center">
					<a class="btn btn-outline-info btn-lg btn-block" href="{% provider_login_url 'linkedin_oauth2' %}" role="button">
						<i class="fab fa-linkedin mr-2"></i> LinkedIn
					</a>
				</div>
			</div>

			<div class="form-group">
				<div class="col-8 m-auto text-center">
					<a class="btn btn-outline-primary btn-lg btn-block" href="{% provider_login_url 'windowslive' %}" role="button">
						<i class="fab fa-microsoft mr-2"></i> <span class="mb-3">Microsoft Account</span>
					</a>
				</div>
			</div>

			<div class="form-group">
				<div class="col-8 m-auto text-center">
					<a class="btn btn-outline-danger btn-lg btn-block" href="{% provider_login_url 'google' %}" role="button">
						<i class="fab fa-google-plus-square mr-2"></i> Google Account
					</a>
				</div>
			</div>
		</form>
	{% else %}
	<script>
		window.location.href = "{% url 'home' %}";
	</script>
	{% endif %}
{% endblock %}

{% block scripts %}
{{ form.media.js }}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
<script>
	$(function () {
		$( "#registerform").validate({
			rules: {
				username: {
					required: true
				},
			    first_name: {
					required: true
				},
				last_name: {
					required: true
				},
				email: {
					required: true,
      				email: true
				},
				password: {
					required: true
				}
			},
			errorElement: 'div',
			errorPlacement: function (error, element) {
				var placement = $(element).data('error');
				if (placement) {
					$(placement).append(error);
				} else {
					error.insertAfter(element);
				}
			}
		});
	});
</script>
{% endblock %}
