{% load static %}
{% load i18n %}

<ul class="nav nav-pills flex-column border custom-pills font-size-15 mt-3">
    {% if request.user.is_superuser %}
    <li class="nav-item">
        <a class="nav-link px-4 py-3 {% if active == 'users' %}active font-weight-600{% endif %}"
            href="{% url 'accounts:user_list' %}">
            <i class="fas fa-users mr-2"></i>{% trans "users"|title %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link px-4 py-3 {% if active == 'subject' %}active font-weight-600{% endif %}"
           href="{% url 'contacts:subject_list' %}">
            <i class="fas fa-clipboard-check mr-2"></i>{% trans "subjects"|title %}
        </a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link px-4 py-3 {% if active == 'contact' %}active font-weight-600{% endif %}"
           href="{% url 'contacts:contact_list' %}">
            <i class="fas fa-address-book mr-2"></i>{% trans "contacts"|title %}
        </a>
    </li>
</ul>