{% load static %}
{% load i18n %}
<tr id="contact_{{ contact.id }}">
	<td scope="row" class="align-middle prod-id text-gray-666">
		<a href="{% url 'contacts:contact_update' contact.id %}" class="" title="{% trans 'update'|title %}">
			{{ contact.id }}
		</a>
	</td>
	<td class="align-middle prod-name text-gray-666">
		<a href="{% url 'contacts:contact_update' contact.id %}" class="" title="{% trans 'update'|title %}">
			{{ contact.first_name }} {{ contact.last_name }}
		</a>
	</td>
    <td class="align-middle prod-name text-gray-666">
		<a href="{% url 'contacts:contact_update' contact.id %}" class="" title="{% trans 'update'|title %}">
			{{ contact.email }}
		</a>
	</td>
    <td class="align-middle prod-name text-gray-666">
		<a href="{% url 'contacts:contact_update' contact.id %}" class="" title="{% trans 'update'|title %}">
			{{ contact.subject.name }}
		</a>
	</td>
	<td class="align-middle text-center td-buttons">
        <a href="{% url 'contacts:contact_detail' contact.id %}" title="{% trans 'comments'|title %}">
            <i class="far fa-comments"></i> {{ contact.get_number_comments }}
        </a>
        <a onclick="Delete('{% url 'contacts:contact_delete' contact.id %}');" class="btn-trash-blue-small2 ml-2"
		   title="{% trans 'delete'|title %}" href="javascript:void(0);">
			<i class="fa fa-trash"></i></a>
	</td>
</tr>