{% load static %}
{% load i18n %}
<tr id="subject_{{ subject.id }}">
	<td scope="row" class="align-middle prod-id text-gray-666">
		<a href="{% url 'contacts:subject_update' subject.id %}" class="" title="{% trans 'update'|title %}">
			{{ subject.id }}
		</a>
	</td>
	<td class="align-middle prod-name text-gray-666">
		<a href="{% url 'contacts:subject_update' subject.id %}" class="" title="{% trans 'update'|title %}">
			{{ subject.name }}
		</a>
	</td>
	<td class="align-middle text-center td-buttons">
		<a onclick="Delete('{% url 'contacts:subject_delete' subject.id %}');" class="btn-trash-blue-small2 ml-2"
		   title="{% trans 'delete'|title %}" href="javascript:void(0);">
			<i class="fa fa-trash"></i>
	</td>
</tr>