{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LENGUAGE_CODE }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
	<title>{% block title %}Webapp{% endblock title %}</title>

	<link rel="stylesheet" href="{% static 'css/main.min.css' %}">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="https://use.fontawesome.com/24a13fa742.js"></script>
    {% block styles %}{% endblock %}
</head>
<body class="">
	{% block navbar %}
	{% include 'navbar.html' %}
	{% endblock %}

	<div class="container-fluid">
	{% block container %}
    <div class="row pb-4">
    {% if request.user.is_authenticated %}
        <div class="col-12">
            {% block content %}{% endblock %}
        </div>
    {% else %}
        <div class="col-6 py-4 m-auto">
			<div class="login-register">
                <div class="card shadow">
                    <div class="card-body">
                        {% block content-form %}{% endblock %}
                        {% block login-register %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
	{% endblock %}
	</div>

	<footer class="footer {% block fixed-bottom %}{% endblock %} border-top-2px-orange">
		<div class="container text-center">
			&copy; Copyright <span id="year"></span>, Roiback. All Rights Reserved
		</div>
	</footer>
    {% block js %}
	<script src="{% static 'js/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'js/bootstrap/js/bootstrap.min.js' %}"></script>

	<script>
        $(function () {
            $("[data-toggle=tooltip]").tooltip();
        });
		document.getElementById("year").innerHTML = new Date().getFullYear();
	</script>
	{% endblock %}
	{% block scripts %}{% endblock %}
</body>
</html>
