{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notification</title>
</head>
<body>
    <h3>{% trans "Welcome " %} {{ object.first_name }} {{ object.last_name }}!</h3>
    <p>Now you can login to the platform.</p>
    <a href="https://{{ domain }}{% url 'accounts:login' %}">{% trans 'Go to the platform' %}</a>
</body>
</html>