{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% csrf_token %}
{% if form.non_field_errors %}
	<div class="form-group">
		<label class="text-gray-666 font-weight-bold">{% trans 'please check the next errors: ' %}</label>
		<ul>
			{% for error in form.non_field_errors %}
				<li class="text-danger">
					{{ error }}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
{% for hidden in form.hidden_fields %}
	{{ hidden }}
{% endfor %}
{% for field in form.visible_fields %}
	{% if field.field.fieldset %}
		{% ifchanged field.field.fieldset %}
			{% if not forloop.first %}
				</fieldset>
			{% endif %}
			<fieldset class="form-group">
			{% if field.field.fieldset %}
				<legend>{{ field.field.fieldset|title }}</legend>{% endif %}
		{% endifchanged %}
	{% endif %}
{% if field.field.widget.input_type == "checkbox" %}
	<div class="form-check">
		{% if field.errors %}
			{{ field }}
			<small id="{{ field.name }}_error" class="text-danger">
				{{ field.errors }}
			</small>
		{% else %}
			{{ field }}
		{% endif %}
		<label class="text-gray-666 font-weight-bold form-check-label {% if field.errors %}text-danger{% endif %}" for="{{ field.name }}">{{ field.label|title }}</label>
		{% if field.help_text %}
			<small id="{{ field.name }}HelpBlock" class="form-text text-muted">
				{{ field.help_text|title }}
			</small>
		{% endif %}
	</div>
{% elif field.field.widget.input_type == "file" %}
	<label class="text-gray-666 font-weight-bold {% if field.errors %}text-danger{% endif %}" for="{{ field.name }}">{{ field.label|title }}</label>
	<div class="custom-file mb-3">
		<input type="file" class="custom-file-input" id="{{ field.name }}" name="{{ field.name }}">
		<label class="custom-file-label" for="{{ field.name }}">{% trans "Choose file"|title %}</label>
	</div>
{% else %}
	<div class="form-group">
		<label class="text-gray-666 font-weight-bold {% if field.errors %}text-danger{% endif %}" for="{{ field.name }}">{{ field.label|title }} <small class="not-found"></small></label>
		{% if field.errors %}
			{{ field }}
			<small id="{{ field.name }}_error" class="text-danger">
				{{ field.errors }}
			</small>
		{% else %}
			{{ field|add_class:"form-control" }}
		{% endif %}
		{% if field.help_text %}
			<small id="{{ field.name }}HelpBlock" class="form-text text-muted">
				{{ field.help_text|title }}
			</small>
		{% endif %}
	</div>
{% endif %}
{% if field.field.fieldset %}
	{% if forloop.last %}
		</fieldset>
	{% endif %}
{% endif %}
{% endfor %}