/* main: ../main.scss */

:root{
	@include responsiveText(14px, 16px);
}

body{
	//font-family: $roboto-condensed !important;
	font-family: $sourcesans !important;
	font-weight: 300;
	background-color: #F3F5F7 !important;

}

.font-family-quicksand{
	font-family: $quicksand !important;
}

.font-family-sourcesans{
	font-family: $sourcesans !important;
}

.font-family-gotham{
	font-family: $gotham !important;
}


.font-family-montserrat{
	font-family: $montserrat !important;
}

.font-family-oswald{
	font-family: $oswald !important;
}

.font-family-helvetica{
	font-family: $helvetica;
}

.font-weight-bold{
	font-weight: bold !important;
}

.font-weight-300{
	font-weight: 300 !important;
}

.font-weight-400{
	font-weight: 400 !important;
}
.font-weight-600{
	font-weight: 600 !important;
}


.font-weight-500{
	font-weight: 500 !important;
}

.font-weight-700{
	font-weight: 700 !important;
}

.font-weight-900{
	font-weight: 900 !important;
}

.font-size-8{
	font-size: $f-8px !important;
}

.font-size-9{
	font-size: $f-9px !important;
}

.font-size-10{
	font-size: $f-10px !important;
}

.font-size-10{
	font-size: $f-10px !important;
}

.font-size-11{
	font-size: $f-11px !important;
}

.font-size-12{
	font-size: $f-12px !important;
}

.font-size-13{
	font-size: $f-13px !important;
}

.font-size-14{
	font-size: $f-14px !important;
}

.font-size-15{
	font-size: $f-15px !important;
}

.font-size-16{
	font-size: $f-16px !important;
}

.font-size-18{
	font-size: $f-18px !important;
}

.font-size-20{
	font-size: $f-20px !important;
}

.font-size-22{
	font-size: $f-22px !important;
}

.font-size-24{
	font-size: $f-24px !important;
}

.font-size-26{
	font-size: $f-26px !important;
}

.font-size-28{
	font-size: $f-28px !important;
}

.font-size-30{
	font-size: $f-30px !important;
}

.font-size-32{
	font-size: $f-32px !important;
}

.font-size-34{
	font-size: $f-34px !important;
}

.font-size-36{
	font-size: $f-36px !important;
}

.font-size-38{
	font-size: $f-38px !important;
}

.font-size-40{
	font-size: $f-40px !important;
}

.font-size-42{
	font-size: $f-42px !important;
}

.font-size-44{
	font-size: $f-44px !important;
}

.font-size-48{
	font-size: $f-48px !important;
}

.font-size-52{
	font-size: $f-52px !important;
}

.font-size-64{
	font-size: $f-64px !important;
}

.bg-green{
	background: $green !important;
	&:hover{
		background: darken($green,8) !important;
	}
}

.bg-orange{
	background: $orange !important;
	&:hover{
		background: darken($orange,8) !important;
	}
}

.bg-blue{
	background: $blue !important;
	&:hover{
		background: darken($blue,8) !important;
	}
}

.bg-red{
	background: $red !important;
	&:hover{
		background: darken($red,8) !important;
	}
}

.bg-purple{
	background: $purple !important;
	&:hover{
		background: darken($purple,8) !important;
	}
}

.bg-gray-222{
	background: $gray-222 !important;
	&:hover{
		background: darken($gray-222,8) !important;
	}
}

.bg-gray-D8{
	background: $gray-D8 !important;
}

.bg-gray-darker{
	background: $gray-darker !important;
	&:hover{
		background: darken($gray-darker,8) !important;
	}
}

.bg-gray-dark{
	background: $gray-dark !important;
	&:hover{
		background: darken($gray-dark,8) !important;
	}
}

.bg-gray{
	background: $gray !important;
	&:hover{
		background: darken($gray-lighter,1) !important;
	}
}

.bg-gray-light{
	background: $gray-light !important;
}

.bg-gray-lighter{
	background: $gray-lighter !important;
	&:hover{
		background: darken($gray-lighter,8) !important;
	}
}

.bg-white{
	background: $white !important;
}

.bg-black{
	background: $black !important;
}

.bg-blue-light{
	background: $blue-light !important;
	&:hover{
		background: darken($blue-light,8) !important;
	}
}

.bg-light-blue{
	background: $light-blue-light !important;
	&:hover{
		background: darken($light-blue-light,8) !important;
	}
}

.text-green{
	color: $green !important;
}

.text-orange{
	color: $orange !important;
}

.text-blue{
	color: $blue !important;
}

.text-red{
	color: $red !important;
}

.text-red-dark{
	color: $red-dark !important;
}

.text-purple{
	color: $purple !important;
}

.text-purple-dark{
	color: $purple-dark !important;
}

.text-gray-222{
	color: $gray-222;
}

.text-gray-darker{
	color: $gray-darker !important;
}

.text-gray-dark{
	color: $gray-dark !important;
}

.text-gray{
	color: $gray !important;
}

.text-gray-light{
	color: $gray-light !important;
}

.text-gray-lighter{
	color: $gray-lighter !important;
}

.text-gray-87{
	color: $gray-87 !important;
}

.text-gray-666{
	color: $gray-666 !important;
}

.text-white{
	color: $white !important;
}

.text-black{
	color: $black !important;
}

.text-pink{
	color: $pink !important;
}

.text-pink-light{
	color: $pink-light !important;
}

.text-cyan{
	color: $cyan !important;
}

.text-cyan-light{
	color: $cyan-light !important;
}

.text-teal{
	color: $teal !important;
}

.text-teal-light{
	color: $teal-light !important;
}

.text-green-accent{
	color: $green-accent !important;
}

.text-blue-light{
	color: $blue-light !important;
}

.text-light-blue-light{
	color: $light-blue-light !important;
}

.text-amber{
	color: $amber !important;
}

.text-brown{
	color: $brown !important;
}

.text-brown-light{
	color: $brown-light !important;
}

.text-yellow{
	color: $yellow !important;
}

.text-yellow-light{
	color: $yellow-light !important;
}

.text-yellow-accent{
	color: $yellow-accent !important;
}

.text-green-light{
	color: $green-light !important;
}

.text-lime{
	color: $lime !important;
}

.text-indigo{
	color: $indigo !important;
}

.link-white{
	color: $white !important;
	&:hover{
		color: $orange !important;
		text-decoration: none !important;
	}
}

.link-gray{
	color: $gray-darker !important;
	&:hover{
		color: $orange !important;
	}
}

.link-blue{
	color: $blue !important;
	&:hover{
		color: $orange !important;

	}
}

.btn{
	border-radius: 0!important;
	padding: 0.5rem 3rem !important;
}

.btn-green{
	background: $green !important;
	color: $white !important;
	padding-left: 2rem !important;
	padding-right: 2rem !important;
	border-radius: 2rem !important;
	&:hover{
		background: darken($green,5) !important;
	}
}

.btn-orange{
	background: $orange !important;
	color: $white !important;
	padding-left: 2rem !important;
	padding-right: 2rem !important;
	//border-radius: 2rem !important;
	&:hover{
		background: darken($orange,10) !important;
	}
}

.btn-white{
	background: $white !important;
	color: $white !important;
	border: 1px solid $black !important;
	border-radius: 2rem !important;
}

.btn-blue{
	background: $blue !important;
	color: $white !important;
}

.btn-orange{
	background: $orange !important;
	color: $white !important;
}

.btn-blue-light{
	background: $blue-light !important;
	color: $white !important;
	&:hover{
		background: darken($blue-light,8) !important;
	}
}

.btn-red{
	background: $red !important;
	color: $white !important;
}

.btn-purple{
	background: $purple !important;
	color: $white !important;
	&:hover{
		background: darken($purple,8) !important;
	}
}

.btn-black{
	background: $black !important;
	color: $white !important;
}

.btn-gray{
	background: $gray-87 !important;
	color: $white !important;
}

.btn-outline-orange {
    color: $orange !important;
    border: 1px solid $orange !important;
	border-radius: 2rem !important;

}

.btn-outline-orange:hover {
	color: $white !important;
	background: $orange;
    border-color: $orange;
	border-radius: 2rem !important;
}

.btn-circle {
   /* width: 30px !important;
    height: 30px !important;*/
    padding: 0.4rem 0.55rem !important;
    border-radius: 50% !important;
    text-align: center;
    font-size: $f-11px;
    line-height: 1.42857;
}

.btn-circle.btn-xl {
	width: 60px !important;
	height: 60px !important;
	padding: 10px 10px !important;
	border-radius: 50% !important;
	font-size: 24px;
	line-height: 1.33;
}

.no-bg{
	background: none !important;
}

.no-border{
	border:none !important;
}

.no-border-radius{
	border-radius: 0 !important;
}

.border-top-1px-solid-white{
	border-top:1px solid $white;
}

.border-top-1px-gray{
	border-top:1px solid $gray !important;
}

.border-bottom-1px-gray{
	border-bottom:1px solid $gray !important;
}

.border-bottom-2px-gray{
	border-bottom:2px solid $gray !important;
}

.border-bottom-3px-gray{
	border-bottom:3px solid $gray !important;
}

.border-bottom-4px-gray{
	border-bottom:4px solid $gray !important;
}

.border-top-2px-gray{
	border-top:2px solid $gray;
}

.border-top-2px-orange{
	border-top:2px solid $orange !important;
}

.border-bottom-2px-orange{
	border-bottom:2px solid $orange !important;
}

.border-bottom-3px-orange{
	border-bottom:3px solid $orange !important;
}

.border-bottom-4px-orange{
	border-bottom:4px solid $orange !important;
}

.border-bottom-2px-cyan{
	border-bottom:2px solid $cyan !important;
}

.border-bottom-2px-blue-light{
	border-bottom:2px solid $blue-light !important;
}

.border-bottom-2px-purple-dark{
	border-bottom:2px solid $purple-dark !important;
}

.border-bottom-2px-red-dark{
	border-bottom:2px solid $red-dark !important;
}

.border-bottom-3px-black{
	border-bottom:3px solid $black !important;
}

.border-bottom-4px-black{
	border-bottom:4px solid $black !important;
}

/**
* Elipsis
*/
.elipsis-2{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.elipsis-3{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.form-group{
	label{
		color: $black;
	}
}

input[type=text], input[type=password], input[type=email] {
	background-color: $white !important;
	border-bottom: 1px solid $gray-D8;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-radius: 0px;
	padding-left: 0;
	font-family: $sourcesans !important;
	color:$gray-dark;
}

input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder  { /* Chrome/Opera/Safari */
  color: $gray-light;
}

input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder { /* Firefox 19+ */
  color: $gray-light;
}

input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder { /* IE 10+ */
  color: $gray-light;
}

input[type=text]:-moz-placeholder, input[type=password]:-moz-placeholder { /* Firefox 18- */
  color: $gray-light;
}

.btn-success{
	background-color: $blue;
	border-color: $blue;
	color: $white !important;
}

.avatar-wrapper, .company-wrapper{
	-webkit-box-shadow: 0px 4px 5px 1px rgba(216,216,216,0.8);
	-moz-box-shadow: 0px 4px 5px 1px rgba(216,216,216,0.8);
	box-shadow: 0px 4px 5px 1px rgba(216,216,216,0.8);
}
.avatar-wrapper.createproduct{
	border-radius: 8px!important;
	box-shadow: none;

	.profile-pic{
		&:after{
			background: $gray-D8;
			color: $white;

		}
	}
}
.select2{
	.selection{
		.select2-selection{
			border-bottom: 1px solid $gray-D8;
			border-left: 0;
			border-right: 0;
			border-top: 0;
			border-radius: 0;
			height: 34px;
		}
	}
}

#main-navbar{
	.nav-link{
		color: $blue;
		font-weight: 300 !important;
		&:hover{
			color: $orange;
		}
	}
	.nav-link.active{
		color: $orange!important;
	}
	.dropdown-toggle::after {
		vertical-align: 0.2em !important;
	}
}

.navbar-organization{
	.nav-item{
		a{
			color: $blue!important;
			font-weight: 400;
			&:hover{
				color: $blue;
				border-bottom: 2px solid $blue;
			}
		}
		a.active{
			color: $blue!important;
			border-bottom: 2px solid $blue!important;
			font-weight: 500;
		}
	}
}

.navbar-stages{
	.nav-item{
		a{
			color: $orange!important;
			font-weight: 400;
			&:hover{
				color: $orange!important;
				border-bottom: 1px solid $orange;
			}
		}
		a.active{
			color: $orange!important;
			border-bottom: 2px solid $orange!important;
			font-weight: 600;
		}
	}
}

.navbar-orange{
	.nav-link{
		color: $orange;
		&:hover{
			color: $white;
			background-color: $orange;
			-webkit-border-radius: 0px;
			-webkit-border-bottom-right-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
			-moz-border-radius: 0px;
			-moz-border-radius-bottomright: 5px;
			-moz-border-radius-bottomleft: 5px;
			border-radius: 0px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
		}

	}
	.nav-link.active{

		color: $white!important;
		background-color: $orange!important;
		-webkit-border-radius: 0px;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius: 0px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-radius: 0px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
}

.navbar-types{
	.nav-link {
		color: $gray-666;
		border-radius: 0!important;
		border-bottom: 2px solid $gray-666;

		&:hover{
			border-bottom: 2px solid $gray-666;
			border-radius: 0;
		}
	}
	.nav-link.active{
		//color: $gray-666!important;
		background-color: inherit!important;
		border-radius: 0;
	}
}

/*.truck{
	border-bottom: 5px solid $gray-666 !important;
    margin-top: -3px !important;
	i{
		color: $purple-dark;
	}
}
.ocean{
	border-bottom: 5px solid $gray-666 !important;
    margin-top: -3px !important;
	i{
		color: $cyan;
	}
}

.customs{
	border-bottom: 5px solid $gray-666 !important;
    margin-top: -3px !important;
	i{
		color: #000;
	}
}

.rail{
	border-bottom: 5px solid $gray-666 !important;
    margin-top: -3px !important;
	i{
		color: $red-dark;
	}
}

.plane{
	border-bottom: 5px solid $gray-666 !important;
    margin-top: -3px !important;
	i{
		color: $blue-light;
	}
}*/

.packing{
	border-bottom: 5px solid $gray-666 !important;
    margin-top: -3px !important;
	i{
		color: #666;
	}
}

.bg-truck{
	background: $purple-dark !important;
}

.bg-ocean{
	background: $cyan !important;
}

.bg-rail{
	background: $red-dark !important;
}

.bg-customs{
	background: #000 !important;
}

.bg-air{
	background: $blue-light !important;
}

.bg-packing{
	background: $gray-666 !important;
}

.search-bar{
	.search-round{
		-webkit-border-radius: 50px 0 0 50px !important;
		-moz-border-radius: 50px 0 0 50px !important;
		border-radius: 50px 0 0 50px !important;
		border: 0;
		color: $blue;
		font-size: 17px;
		padding-left: 10px;
		padding-right: 10px;
		height: 45px;

	}
	text:focus, input:focus {
		color: $blue!important;

	}
}
.search-icon{
	right: 30px;
	top: 1px;
}

.btn-link{
	font-weight: 300 !important;
}

.btn-blue-emptied{
	background: $white !important;
	color: $blue !important;
	border: 1px solid $blue !important;
	&:hover{
		background: $blue !important;
		color: $white !important;
		border: none;
	}
}

.btn-search-restart{
	color: $white!important;
	background: $blue!important;
	-webkit-border-radius: 50%!important;
	-moz-border-radius: 50%!important;
	border-radius: 50%!important;
	border: 0;
	-webkit-appearance: inherit!important;
	width: 45px;
	height: 45px;
	padding: 12px!important;

}

.btn-upload-white{
	background-color: $white!important;
	color: $blue !important;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	-moz-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	border-radius: 5px!important;
	padding: 0.58rem 2rem !important;
}

.btn-close-red{
	background-color: $red !important;
	color: $white !important;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	-moz-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	border-radius: 5px!important;


}

.btn-add-blue{
	background-color: $blue !important;
	color: $white !important;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	-moz-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	border-radius: 5px!important;


}

.btn-cancel-white{
	background-color: $white!important;
	color: $blue !important;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	-moz-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	border-radius: 5px!important;
}

.btn-save-blue{
	background-color: $blue !important;
	color: $white !important;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	-moz-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	border-radius: 5px!important;
}

.btn-download-blue{
	background-color: $blue !important;
	color: $white !important;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	-moz-box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	box-shadow: 0px 2px 2px 0px rgba(128,105,105,0.1);
	border-radius: 5px!important;

}

.btn-edit-blue{
	color: $white!important;
	background: $blue!important;
	border-radius: 50%!important;
	border: 0;
	padding: 0.7rem 0.8rem !important;
	text-align: center;
	text-decoration: none;
	&:hover{
		background: $orange!important;
		text-decoration: none;
	}
}

.btn-innerpack-amber{
	color: $white!important;
	background: $amber!important;
	border-radius: 50%!important;
	border: 0;
	padding: 0.75rem 0.7rem !important;
	text-align: center;
	text-decoration: none;
	&:hover{
		background: $orange!important;
		text-decoration: none;
	}
	i{
		margin-left: 1px;
	}
}

.btn-edit-blue-small2{
	color: $white!important;
	background: $blue!important;
	border-radius: 50%!important;
	border: 0;
	padding: 0.6rem 0.6rem 0.6rem 0.8rem !important;
	&:hover{
		background: $orange!important;
		text-decoration: none;
	}
}

.btn-trash-blue-small2{
	color: $white!important;
	background: $blue!important;
	border-radius: 50%!important;
	border: 0;
	padding: 0.6rem 0.9rem !important;
	&:hover{
		background: $orange!important;
	}
}

.btn-edit-blue-small{
	color: $white!important;
	background: $blue!important;
	-webkit-border-radius: 50%!important;
	-moz-border-radius: 50%!important;
	border-radius: 50%!important;
	border: 0;
	-webkit-appearance: inherit!important;
	padding: 0.5rem 0.5rem !important;
	text-align: center;

	&:hover{
		background: $orange!important;
	}
}

.btn-trash-blue{
	color: $white!important;
	background: $blue!important;
	border-radius: 50%!important;
	border: 0;
	padding: 0.7rem 0.8rem !important;
	text-align: center;
	text-decoration: none;
	&:hover{
		background: $orange!important;
		text-decoration: none;
	}
}

.btn-add-blue{
	color: $white!important;
	background: $blue!important;
	border-radius: 50%!important;
	border: 0;
	padding: 0.6rem 1rem !important;
	text-align: center;
	text-decoration: none;
	&:hover{
		background: $orange!important;
		text-decoration: none;
	}
}

.btn-blue2{
	color: $white!important;
	background: $blue!important;
	border-radius: 0.2rem !important;
	border: 0;
	padding: 0.5rem 1rem !important;
	text-align: center;
	text-decoration: none;
	&:hover{
		background: $orange!important;
		text-decoration: none;
	}
}

.btn-white2{
	color: $blue!important;
	background: $white!important;
	border-radius: 0.2rem !important;
	border: 0;
	padding: 0.5rem 1rem !important;
	text-align: center;
	text-decoration: none;
	&:hover{
		background: $orange!important;
		color: $white!important;
		text-decoration: none;
	}
}

.btn-trashcan-blue{
	color: $white!important;
	background: $blue!important;
	border-radius: 50%!important;
	border: 0;
	padding: 0.5rem 0.8rem !important;
	text-align: center;
	text-decoration: none;
	margin-top: -0.3rem;
	&:hover{
		background: $orange!important;
		text-decoration: none;
	}
}

.btn-trash-red{
	color: $white!important;
	background: $red!important;
	border-radius: 50%!important;
	border: 0;
	padding: 0.7rem 1rem !important;
	text-align: center;
	&:hover{
		background: $orange!important;

	}
}

.btn-round{
	color: $white!important;

	-webkit-border-radius: 50%!important;
	-moz-border-radius: 50%!important;
	border-radius: 50%!important;
	border: 0;
	-webkit-appearance: inherit!important;
	width: 44px;
	height: 44px;
	padding: 12px 15px!important;
	text-align: center;

}



.td-buttons{
	min-width: 190px;

}

.input-box{
	.input-group-prepend {
		width: 40%;
		.input-group-text {
			width: 100%;
		}
	}
	input{
		width: 60% !important;
		padding: 5px;

	}
}

.name-user{
	position: relative;
	padding-right: 4rem !important;
	&:after{
		position: absolute;
		right: 0;
		top: 1.7em;
	}
	.img-avatar{
		top: 5px!important;

	}
	.img-avata-bg{
		background-size: cover!important;
		border: 1px solid $orange;
		border-radius: 50%;
		position: absolute;
		right: 23px;
		background-position: 50% 50%!important;

	}
}
.img-avata-bg-big{
	background-size: cover!important;
	border: 1px solid $orange;
	border-radius: 50%;
	position: absolute;
	background-position: 50% 50%!important;
	&:after{
		content: inherit!important;
	}
}

.table-noborder-l-r{
	border-left: 0!important;
	border-right: 0!important;
 td{
	 border-left: 0!important;
	 border-right: 0!important;
 }
}

.shipment-card{
  td{
    border: 0 !important;
    padding: .80rem .75rem !important;

  }
}
.shipment-bnt-success{
  height: 100%!important;
}

.shipment-tab-header{
	.nav-item{
		.nav-link{
			background-color: $white;
			border-radius: 0;
			color: $blue;
			text-align: center;
			background: none;
			&.active{
				background-color: $white;
				color: $gray-darker;
				font-weight: 600;
				border-top: 1px solid #dee2e6;
				border-left: 1px solid #dee2e6;
				border-right: 1px solid #dee2e6;
				border-radius: 10px 10px 0px 0px;
			}
			&:hover{
				background-color: $white;
				border-top: 1px solid $gray-lighter;
				border-left: 1px solid $gray-lighter;
				border-right: 1px solid $gray-lighter;
				border-radius: 10px 10px 0px 0px;
			}
		}
	}
}

.rounded-tbl-5{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.rounded-5{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

/* Button used to open the chat form - fixed at the bottom of the page */
.btn-chat {
	background-color: $blue;
	color: white;
	padding: 20px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: 500;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 10%;
	right: 0px;
	height: 25%;
    text-transform: uppercase;
}

/* The popup chat - hidden by default */
.chat-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	border: 3px solid #f1f1f1;
	z-index: 9;
}

/* Add styles to the form container */
.form-container {
	max-width: 300px;
	padding: 15px;
	background-color: white;
}

/* Full-width textarea */
.form-container textarea {
	width: 100%;
	padding: 15px;
	border: none;
	background: #f1f1f1;
	resize: none;
	min-height: 100px;

}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
	background-color: #ddd;
	outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
	background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .btn-chat:hover {
	opacity: 1;
}

.message_text_input{
	width: 100%;
}


.scrollvertical::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	/*display: none;*/
}

.scrollvertical::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 4px;
}

.scrollvertical::-webkit-scrollbar-thumb:hover {
	background: #b3b3b3;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.scrollvertical::-webkit-scrollbar-thumb:active {
	background-color: #999999;

}

.scrollvertical::-webkit-scrollbar-track {
	background: #e1e1e1;
	border-radius: 4px;
}

.scrollvertical::-webkit-scrollbar-track:hover,
.scrollvertical::-webkit-scrollbar-track:active {
	background: #d4d4d4;
}

.drop-notification{
	.dropdown-toggle{

	}
	.dropdown-menu{

	}
}

.table{
	margin-bottom: 0 !important;
	border-bottom: 1px solid #dee2e6 !important;
}

.table th, .table td{


}

.btn-gray-EE{
	background: $gray-EE !important;
	color: $gray !important;
	padding: 0.5rem 1rem !important;
	&:hover{
		background: $gray-light !important;
		color: $gray-dark !important;
	}
	&.search-refresh{
		border-left:1px solid $gray !important;
		border-radius: 0 50px 50px 0 !important;
	}
}

$tooltip-opacity: 0.85;
$tooltip-arrow-color: $gray;
$tooltip-bg: $gray;

.tr-border-bottom{
	border-bottom: 1px solid $gray-light;
}
.btn-mini{
	border: 1px solid $gray-light;
    padding: 4px 8px;
    background: $white;
    border-radius: 3px;
	font-size: $f-11px;
}


.row-border-left{
	border-left: 0.625rem solid transparent;
	border-radius: 50px 0 0 50px !important;
	&.text-red{
		color: $gray !important;
		border-left: 0.625rem solid $red;
	}
	&.text-green{
		color: $gray !important;
		border-left: 0.625rem solid $green;
	}
	&.text-yellow{
		color: $gray !important;
		border-left: 0.625rem solid $yellow;
	}
}

.nav{
	&.nav-chevron{
		.nav-link{
			color: $gray-666;
			margin-right: 0;
			position: relative;
			background: $gray-D8;
			border-left: 0;
			margin-left: 4px;
			&:after{
				content: "";
				position: absolute;
				left: 100%;
				bottom: 0;
				width: 0;
				height: 0;
				border-left: 22px solid $gray-D8;
				border-top: 28px solid transparent;
				border-bottom: 29px solid transparent;
				z-index: 3;
			}
			&:before{
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0;
				height: 0;
				border-left: 22px solid $gray-lighter;
				border-top: 28px solid transparent;
				border-bottom: 29px solid transparent;
			}
			&:first-child{
				&:before{
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 0;
					height: 0;
					border-left: none;
					border-top: none;
					border-bottom: none;
				}
			}
			&:last-child{
				&:after{
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 0;
					height: 0;
					border-left: none;
					border-top: none;
					border-bottom: none;
				}
				&.active{
					&:after{
						content: "";
						position: absolute;
						left: 0;
						bottom: 0;
						width: 0;
						height: 0;
						border-left: none;
						border-top: none;
						border-bottom: none;
					}
				}
			}
			&.active{
				border: none !important;
				&:after{
					content: "";
					position: absolute;
					left: 100%;
					bottom: 0;
					width: 0;
					height: 0;
					border-left: 22px solid $blue !important;
					border-top: 28px solid transparent;
					border-bottom: 29px solid transparent;
					z-index: 3;
				}
				&:before{
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 0;
					height: 0;
					border-left: none;
					border-top: none;
					border-bottom: none;
				}
			}
		}
	}
}

.nav{
	&.stages-subpills{
		.nav-item{
			.nav-link{
				border-bottom: 0.1rem solid $gray-light !important;
				&.active{
					&.truck{
						background-color: $purple !important;
						border-radius: 5px 5px 0 0 !important;
						color: $white !important;
					}
					&.air{
						background-color: $cyan-light !important;
						border-radius: 5px 5px 0 0 !important;
						color: $white !important;
					}
					&.ocean{
						background-color: $cyan !important;
						border-radius: 5px 5px 0 0 !important;
						color: $white !important;
					}
					&.plane{
						background-color: $blue-light !important;
						border-radius: 5px 5px 0 0 !important;
						color: $white !important;
					}
					&.rail{
						background-color: $red-dark !important;
						border-radius: 5px 5px 0 0 !important;
						color: $white !important;
					}
					&.customs{
						background-color: $black !important;
						border-radius: 5px 5px 0 0 !important;
						color: $white !important;
					}
				}
			}
		}
	}
}

.modal-full{
	width: 100% !important;
	max-width: 100% !important;
	height: 100% !important;
	margin: 0 auto !important;
	.modal-content {
		height: auto !important;
		min-height: 100% !important;
	}
}

.error {
	color: $red !important;
}