{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Home' %}{% endblock %}

{% block content-form %}
    <form method="post" class="py-3" id="contactform" enctype="multipart/form-data">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
            <div class="text-center alert alert-success" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}

        <div class="form-group">
            <h1 class="text-center mb-0">{% trans "Contact Form" %}</h1>
        </div>

        <div class="row mx-4 px-4">
            <div class="col">
                {{ form.first_name }}
                <div class="text-danger">
                    {{ form.first_name.errors }}
                </div>
            </div>
            <div class="col">
                {{ form.last_name }}
                <div class="text-danger">
                    {{ form.last_name.errors }}
                </div>
            </div>
        </div>

        <div class="form-group my-2 px-5">
            <div class="col-12">
                {{ form.email }}
                <div class="text-danger">
                    {{ form.email.errors }}
                </div>
            </div>
        </div>


        <div class="form-group my-2 px-5">
            <div class="col-12">
                {{ form.phone }}
                <div class="text-danger">
                    {{ form.phone.errors }}
                </div>
            </div>
        </div>

        <div class="form-group mt-4 text-center">
            <div class="col-12">
                <button class="btn btn-primary btn-lg" type="submit">
                    <i class="fas fa-sign-in-alt mr-2"></i> {% trans "Create" %}
                </button>
            </div>
        </div>

        <div class="form-group my-1">
            <div class="col-12 text-center">
                <a class="btn btn-link" href="{% url 'accounts:login' %}">{% trans "Already have an account?" %}</a>
            </div>
        </div>

        <div class="form-group my-1">
            <h4 class="text-center"> {% trans "Or sign up with" %}</h4>
        </div>
    </form>
{% endblock %}
